html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: var(--background-color);
}


/*vars */
:root{
  --background-color: #E5E5E5;
}

/* fonts */
:root{
--h2-font: 50px/61px 'Podkova', sans;
--body-font: 16px/22px 'Montserrat Alternates', sans;
--font-color: #2B2118;
}



/* montserrat-alternates-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'),
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-regular.svg#MontserratAlternates') format('svg'); /* Legacy iOS */
  }
  /* montserrat-alternates-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-alternates-v9-latin_cyrillic-700.svg#MontserratAlternates') format('svg'); /* Legacy iOS */
  }

  /* podkova-regular - latin_cyrillic */
@font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/podkova-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Podkova Regular'), local('Podkova-Regular'),
         url('../fonts/podkova-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/podkova-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/podkova-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/podkova-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/podkova-v11-latin_cyrillic-regular.svg#Podkova') format('svg'); /* Legacy iOS */
  }
  /* podkova-600 - latin_cyrillic */
  @font-face {
    font-family: 'Podkova';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/podkova-v11-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local('Podkova SemiBold'), local('Podkova-SemiBold'),
         url('../fonts/podkova-v11-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/podkova-v11-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/podkova-v11-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/podkova-v11-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/podkova-v11-latin_cyrillic-600.svg#Podkova') format('svg'); /* Legacy iOS */
  }


.wrapper{
  
  margin: 0 auto;
}
.header-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  position: relative;
  background-position: right 0px bottom 0;
  height: 712px;
}
.header-nav{
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font: var(--body-font);
}
.logo{
  margin-right: 139px;
}
.logo-img{
  
  width: 78px;
  height: 78px;
}
.header__item{
  text-decoration: none;
  color: var(--font-color);
  margin-right: 36px;
}
.header__item:last-child{
  margin-right: 0;
}

.about-block__title{
   font: var(--h2-font);
   font-weight: 600;
   color: var(--font-color);
}
.about-block{
  display: flex;
  flex-direction: column;
  margin-top: 106px;
  width: 624px;
}
.about-block__des{
  margin-top: 28px;
  font: var(--body-font);
  color: var(--font-color);
}
.open-map{
  display: flex;
  text-decoration: none;
  font: var(--body-font);
  color: var(--font-color);
  width: 234px;
  left: 1020px;
  border: none;
  border-bottom: 1px solid #CCB69B;
  position: relative;
}

